configuration {
    modi: "jetbrains";
    show-icons: true;
    jetbrains-custom-aliases: ["web:WS", "cpp:CL"];
    jetbrains-install-dir: "~/.local/share/JetBrains/Toolbox/apps/";
    jetbrains-use-clion-devshell: true;
}